# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/test_datadance?schema=public"

# JWT 密钥
JWT_SECRET="your-secret-key"
JWT_EXPIRES_IN="7d"

# 服务器配置
PORT=8080
NODE_ENV="development"

# API Base URL (使用 ngrok 提供的 URL)
API_BASE_URL="https://35ed-154-29-144-72.ngrok-free.app"

# Apple Push Notification Service
APNS_KEY_ID="QW9B77ZUW9"
APNS_TEAM_ID="R2DAZ94F4S" 